  
  /* Hero Section */
  .hero-section {
    text-align: center;
    padding: 4rem 1rem;
    background-image: url('./../assets/home-bg.jpeg');
    background-position: center;
    background-size: cover;
    color: #fff;

  }
  .hero-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .book-now-btn {
    background-color: #ff5733;
    color: #fff;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .book-now-btn:hover {
    background-color: #e84e1a;
  }
  
  /* Carousel */
  .offer-carousel .carousel-slide {
    background-color: #fff;
    color: #333;
    padding: 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  /* Blog Section */
  .blog-section {
    padding: 2rem 1rem;
    background-color: #f7f7f7;
    text-align: center;
  }
  .section-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
  }
  .blogs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .blog-card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 18rem;
  }
  
  /* Feedback Section */
  .feedback-section {
    padding: 2rem 1rem;
    background-color: #222;
    color: #fff;
    text-align: center;
  }
  .feedback-cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .feedback-card {
    background-color: #333;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 16rem;
    text-align: center;
  }
  .user-avatar {
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  .user-feedback {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .user-name {
    font-weight: bold;
  }
  
  /* Car Slider Section */
  .car-slider-section {
    padding: 2rem 1rem;
    background-color: #f0f0f0;
    text-align: center;
  }
  .car-slider {
    display: flex;
    gap: 1rem;
    overflow: auto;
    padding: 1rem 0;
  }
  .car-card {
    min-width: 10rem;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .search-group{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 1px rgba(211, 209, 209, 0.66);
    padding-inline: 8px;
    padding-block: 2px;
    
  }
 
  .search-input{
    @apply  w-full p-3 border border-transparent rounded-none text-base outline-none transition-all duration-300 focus:border-transparent  
  }


  .search-group:hover {
    border:solid 1px #e84e1a;
  }

  @media (max-width: 555px){
    .search-group{
       @apply rounded-full overflow-hidden
    }
  }